<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388550045327-8o5lbbft0dfv4bkc0q8btevn4q6k2dng.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388550045327-8o5lbbft0dfv4bkc0q8btevn4q6k2dng</string>
	<key>API_KEY</key>
	<string>AIzaSyD0m47TbOq03-jdJhMd1xD1hd5iHnoSdiQ</string>
	<key>GCM_SENDER_ID</key>
	<string>388550045327</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.krygo-dev.HungryKaren</string>
	<key>PROJECT_ID</key>
	<string>hungrykaren-9a2ab</string>
	<key>STORAGE_BUCKET</key>
	<string>hungrykaren-9a2ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:388550045327:ios:f86655227101ee40dc8afa</string>
</dict>
</plist>